
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* ----shared style */
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}

.flex{
  display : flex;
}
.text-gray{
  color: #424242;
}
.text-light-gray{
  color: #727272;
}
.color-orange{
  color: #FF900E;
}


.primary-bg{
  background-color: rgb(255, 144, 14, 0.1);
}

.button{
  padding: 15px 20px;
  color: white;
  background-color: #FF900E;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;

}





/* ---- header */

.navbar{
    justify-content: space-around;
    align-items: center;
}
.nav-heading{
  font-weight: 700;
  font-size: 3rem;    /* ---- 1 rem = 16 px */

}
.nav-links{
    gap: 1em;
}
.nav-items{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}

.navbar, .banner{
  max-width : 1440px;
  margin: 0 auto;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-img{
  width: 100%;
}


/* ---- feature section */
.features{
  align-items: center;
}
.team-desc{
  margin-left: 130px;
  max-width: 530px;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#quick-list{
  font-weight: 500;
}
#our-features{
  color: #FF900E;
}



/* ---- cute apu section */
.cute-apu{
  gap: 100px;
}
#apu-title{
  border-left: 10px solid #FF900E;
  border-radius: 10px;
  padding-left: 20px;

}
.inner-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 20px;
}
.inner-enjoy{
  margin-bottom: 20px;
}
.inner-detail{
  color: #727272;
}
.inner-card, .inner-title{
  margin-top: 0px;
  margin-bottom: 0px;
}
.experience-badge {
  padding: 45px 42px;
  margin-top: -92px;
  margin-left: -50px;
}
#year{
  font-size: 3rem;
  font-weight: 700;
}
#experience{
  font-size: 1.5rem;
  font-weight: medium;
}











/* ---- some facts */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact{
  height: 10rem;
  width: 8rem;
  border: 2px solid #FF900E;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600px;
  margin: 4px 0;
}
.fact-desc{
  max-width: 540px;
  margin-bottom: 30px;
}


/* ---- sponsor */
.sponsor-title, .sponsor-detail{
  text-align: center;
}

.sponsor-detail{
  font-size: 1rem;
}
.sponsor-logo{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}
.sponsor-logo img{
  filter: grayscale(100%);
}









/* ---- responsive */
@media screen and (max-width: 576px){
  .navbar, .nav-links, .features,.cute-apu{
    flex-direction: column;

  }
  .team-img, .fact-container,.sponsor-logo{
    grid-template-columns: repeat(1,1fr);
  }
  .team-desc{
    margin: 20px;
  }
  .fact-container, .sponsor-logo {
    justify-items: center;
    gap: 20px;
  }
  .cute-apu-img img{
    width: 100%;
  }
  .experience-badge {
  margin-top: -40px;
  margin-left: 20px;
}
  




}
/* ---- medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
   .features,.cute-apu{
    flex-direction: column;

  }
  .team-desc{
    margin: 50px auto;
  }
  .sponsor-logo, .fact-container{
    grid-template-columns: repeat(2,1fr);
  }

}